USE [master]
GO
/****** Object:  Database [sistemaClinica]    Script Date: 25/7/2025 21:54:20 ******/
CREATE DATABASE [sistemaClinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sistemaClinica', FILENAME = N'C:\SqlData\sistemaClinica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sistemaClinica_log', FILENAME = N'C:\SqlData\sistemaClinica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sistemaClinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sistemaClinica]
GO
/****** Object:  User [userSQL]    Script Date: 25/7/2025 21:54:20 ******/
CREATE USER [userSQL] FOR LOGIN [userSQL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 25/7/2025 21:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[IDCita] [int] IDENTITY(1,1) NOT NULL,
	[FechaCita] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[PacienteID] [varchar](12) NOT NULL,
	[DoctorID] [varchar](12) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Estado] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctores]    Script Date: 25/7/2025 21:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctores](
	[Identificacion] [varchar](12) NOT NULL,
	[Nombre] [varchar](15) NOT NULL,
	[PrimerApellido] [varchar](20) NOT NULL,
	[SegundoApellido] [varchar](20) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Telefono] [varchar](8) NOT NULL,
	[Edad] [int] NOT NULL,
	[Direccion] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 25/7/2025 21:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Identificacion] [varchar](12) NOT NULL,
	[Nombre] [varchar](15) NOT NULL,
	[PrimerApellido] [varchar](20) NOT NULL,
	[SegundoApellido] [varchar](20) NOT NULL,
	[Telefono] [varchar](8) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Direccion] [varchar](10) NOT NULL,
	[Edad] [int] NOT NULL,
	[Responsable] [varchar](55) NOT NULL,
	[EstadoCivil] [varchar](11) NOT NULL,
	[Sexo] [varchar](9) NOT NULL,
	[Ocupacion] [varchar](21) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctores] ([Identificacion])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Pacientes] ([Identificacion])
GO
USE [master]
GO
